html{
    scroll-behavior: smooth;
    scrollbar-color: red;
}
body{
    background-color: #040402;
}
.links:hover{
    color: #df1b17;
}
.text:hover{
   color: red;
}
.text{
    border-radius: 2px ;
    font-weight: 600;
    margin-top: 7px;
    color:white;
}
.links{
    color: white;
}
.navbrand{
    font-weight: 800;
    font-size: 25px;
}
nav{
    padding: 20px;
}
#outline{
    border: 2px solid #cc2020;
}
#outline:hover{
    background-color: #cc2020;
}
.cont1{
    background-color: #040402;
    color: white;
}
.h1 h1{
    color: #e51212;
    margin-left: 100px;
    font-size: 100px;
    font-weight: 1000;
    
}
.h1{
    margin-top: 200px;
}
.text2{
    font-weight: 10;
    font-size: 20px;
}
.cont3{
    width: 500px;
    height: 50px;
    margin-left: 110px;
    margin-top: 40px;
    color: grey;
}
.off{
    margin-left: 150px;
}
.cont4{
    min-height: 900px;
}
.items{
    margin-left: 90px;
    background-color: rgb(24, 24, 24);  
    width: 310px;
    height: 440px;
    padding: 30px;
    text-align: center;
    transform: 3s;
    transition: 0.2s ease-in-out;
}
.item1{
    position: relative;
    z-index: 2;
    text-align: center;
}
h4{
    color: white;
}
.red2{
    width: 250px;
    height: 280px;
    background-color: #e51212;
    position: absolute;
    z-index: 1;
    margin-left: 170px;
    margin-top: -260px;
}
.red1{
    margin-left: 70px;
    margin-top: -20px;
    width: 300px;
    height: 300px;
    background-color: #e51212;
    position: absolute;
    z-index: 1;
}
span{
    color: gray;
    font-weight: 500;
}
.img-items{
    margin-left: -18px;
    margin-top: 20px;
    width: 287px;
    height: 260px;
}
.div1:hover{
    background-image:linear-gradient(to right, #e51212,#df1b17,#d11f1c,#cc2020,#c72727,#b42b2e);
    cursor: pointer;
    transform: translate(0,-10px);
}
.div2:hover{
    background-image:linear-gradient(to right, #e51212,#df1b17,#d11f1c,#cc2020,#c72727,#b42b2e);
    cursor: pointer;
    transform: translate(0,-10px);
}
.div3:hover{
    background-image:linear-gradient(to right, #e51212,#df1b17,#d11f1c,#cc2020,#c72727,#b42b2e);
    cursor: pointer;
    transform: translate(0,-10px);
}
.stats{
    background-color: rgb(24, 24, 24);
    height: 200px;
    margin-top: 100px;
    text-align: center;

}
.stats2{
    background-color: rgb(24, 24, 24);
    min-height: 350px;
    text-align: center;
}
.prof{
    margin-top: 100px;
}
.progress1{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #e51212;
    
}
.center{
    width: 110px;
    height: 110px;
    background-color: rgb(24, 24, 24);
    border-radius: 55px;
    margin-left:20px;
}
.profile{
    margin-top: 30px;
    margin-left: 15px;
    width: 400px;
    height: 430px;
    background-color: rgb(24, 24, 24);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.face{
    height: 170px;
    width: 170px;
    border-radius:85px;
    margin-top: 60px;
}
.profile:hover{
    background-color: #d11f1c;
    transform: translate(0,-10px);
    color: #ffff;
}
.profile p i:hover{
    color: white;
}
.cont6{
    background-color:#111111;
    min-height: 700px;
    margin-top: 80px;
}
.write{
    margin-top: 130px;
   
}
.width{
    width: 60px;
    height: 6px;
    background-color: #d11f1c;
}
.play{
    margin-top: -140px;
}
.plan{
    text-align: center;
}
.add{
    width: 350px;
    height: 700px;
    background-color: rgb(24, 24, 24);
    text-align: center;
    transition: 0.2s ease-in-out;    
}
.list1{
    color: gray;
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    padding-top: 19px;
    font-size: 20px;
}
.list1 i{
    color: #68696a;
    margin-left: 110px;
}
.price{
    width:290px;
    height: 60px;
    border:2px gray solid;
    border-radius: 30px;
    padding: 10px;
    font-size: 40px;
    margin-left:30px;
}
.choose-plan{
    background-color: #d11f1c;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
}
.add:hover{
    margin-top: -10px;
    background-color: #c00f0f;
    color: white;
    cursor: pointer;
}
.imgs{
    width: 90px;
    padding: 10px;
}
.reverer{
    height: 460px;
    width: 800px;
    background-color: #111111;
    margin-left: 40px;
    padding: 10px;
}
.reverer-img{
    margin-top: 50px;
    width: 140px;
    height: 140px;
    border-radius: 70px;
}
.feed-back h3{
    color:white;
}
.feed-back p{
    color:gray;
}
.reverer:hover{
    background-color: #cc2020;
    color: white;
}
.registration-form{
    margin-left: 170px;
    margin-top: 50px;
}
.news{
    background-color: #111111;
    height: 340px;
    margin-top: 70px;
    text-align: center;
    padding-top: 40px;
}
.news h2{
    color: white;
}
.name{
    background-color: #111111;
    height: 54px;
}
.subscribe{
    height: 54px;
    width: 170px;
    background-color: #d30505;
    color: white;
}
